<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Swole Patrol</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/index2.css" />
{% block staticstuff %}
{% endblock %}
  </head>
  <body>
<!--
<div id="header">
	<div id="central">
        <ul id="list-nav">
                <li id="logo"><a href="/">Swole Patrol</a></li>
        </ul>
        <ul id="list-nav-right">
		{% if current_user %}
		<li><a href="/user/{{ current_user.pk }}">{{ current_user.first_name|escape }} {{ current_user.last_name|escape }}</a></li>
		{% else %}
		<li><a href="#">Public</a></li>
		{% endif %}
		<div id="fb"><fb:login-button autologoutlink="true" perms="offline_access"></fb:login-button></div>
        </ul>
	</div>
</div>
-->
<div class="clearFix fluid" id="container">
		<div class="clearFix" id="content_wrapper">
			<div id="header">
				<h1 class="logo"><a href="#">Swole Patrol</a></h1>
				<div id="fb"><fb:login-button autologoutlink="true"></fb:login-button></div>
				<ul id="user_controls">
					<li>
						{% if current_user %}
						<span><a href="/">{{ current_user.first_name|escape }} {{ current_user.last_name|escape }}</a></span></li>
						{% else %}
						<span><a href="#">Public</a></li>
						{% endif %}
					<li><a href="#">About</a></li>
				</ul>
			</div>

			<div id="deux_list">
				<p class="meanwhile">Meanwhile...</p>
				<div id="scrollContainer">
					{% block content %}{% endblock %}

					
				</div>

			</div>
			<div id="footer">
				<ul class="links">
					<!--<li><a href="http://teuxdeux.com/faq">FAQ</a></li>-->
				</ul>
				<!--<p class="copyright">
					Copyright © 2010 swissmiss &amp; Fictive Kin -
					<a href="http://teuxdeux.com/privacy-policy">Privacy Policy</a>
				</p>-->
				<p class="copyright">
					A small project by 
					<a href="http://sanjayvsaraf.com/">sanjay</a>
					.
				</p>
			</div>
		</div>
	</div>
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true,
                 xfbml: true});
        FB.Event.subscribe('{% if current_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
          window.location.reload();
        });
      };
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
     }());
    </script>
  </body>
{% block afterbody %}{% endblock %}
</html>

